.faq{
    background-color: black;
    width: 100%;
}
.faq--title{
    padding: 1em ;
    font-size: 3em;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}